* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
/* shared style */
.dark-1 {
  color: #1e1e1e;
}
.dark-2 {
  color: #8987a1;
}
.dark-3 {
  color: rgba(0, 0, 0, 0.5);
}
.center {
  text-align: center;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 10px auto;
}
.nav-links {
  display: flex;
  gap: 27px;
  margin-top: 35px;
}
.nav-links a {
  text-decoration: none;
}
.home {
  font-size: 1.15rem;
  color: #1e1e1e;
}
.shop,
.about-us {
  color: #8987a1;
  font-size: 1.15rem;
}
.cart {
  color: #000000;
}
/* banner */
.banner {
  display: flex;
  max-width: 980px;
  margin: 100px auto;
  align-items: flex-end;
}
.ban-left {
  width: 450px;
}
.banner-t {
  font-size: 3.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}
.banner-st {
  color: #e95a08;
}
.banner-p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
/* plant section */

.plant-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}
.plant-descri {
  font-size: 1.2rem;
  margin-top: 16px;
}
.plant-tsp {
  color: #e95a08;
}
.plant-cards {
  max-width: 950px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.plant-card {
  width: 100%;
}
.plant-card img {
  width: 100%;
  display: block;
}
.pcard-h {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}
.pcard-sh {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}
.pcard-btn {
  width: 100%;
  color: white;
  background-color: #e95a08;
  font-size: 0.8rem;
  font-weight: 530;
  margin-top: 15px;
  border: none;
  height: 35px;
}

/* lover sec */
.lovers-section {
  display: flex;
  max-width: 925px;
  margin: 60px auto;
  margin-top: 135px;
  gap: 58px;
}
.lover-h {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 25px 1px;
  margin-top: 35px;
}
.lover-li {
  font-size: 1.3rem;
  margin: 15px 1px;
}
ul {
  padding-left: 14px;
}

/* Responsive part */
@media screen and (max-width: 576px) {
  .nav-links a {
    display: none;
  }
  .nav-links a.cart {
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
  }
  .nav-links {
    gap: 0;
  }
  .nav-logo {
    margin-left: 10px;
  }
  /* header banner */
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .ban-left {
    width: 100%;
    padding: 0 5px;
    margin: 0;
  }

  .banner-t {
    font-size: 2.2rem;
  }
  .banner-p {
    font-size: 1rem;
  }
  .banner-img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
  /* plant section */
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 14px;
  }
  .plant-heading {
    margin-top: 40px;
  }
  .plant-descri {
    padding: 18px;
  }
  /* lover section */
  .lovers-section {
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;
    gap: 15px;
    padding: 15px;
  }
  .lover-h {
    margin-top: 0px;
  }
  .lover-image img {
    width: 100%;
  }
}
