* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
/* shared style */
.dark-1 {
  color: #1e1e1e;
}
.dark-2 {
  color: #8987a1;
}
.dark-3 {
  color: rgba(0, 0, 0, 0.5);
}
.center {
  text-align: center;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 10px auto;
}
.nav-links {
  display: flex;
  gap: 27px;
  margin-top: 35px;
}
.nav-links a {
  text-decoration: none;
}
.home {
  font-size: 1.15rem;
  color: #1e1e1e;
}
.shop,
.about-us {
  color: #8987a1;
  font-size: 1.15rem;
}
.cart {
  color: #000000;
}
/* banner */
.banner {
  display: flex;
  max-width: 980px;
  margin: 100px auto;
  align-items: flex-end;
}
.ban-left {
  width: 450px;
}
.banner-t {
  font-size: 3.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}
.banner-st {
  color: #e95a08;
}
.banner-p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
/* plant section */

.plant-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}
.plant-descri {
  font-size: 1.2rem;
  margin-top: 16px;
}
.plant-tsp {
  color: #e95a08;
}
.plant-cards {
  max-width: 950px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.plant-card {
  width: 100%;
}
.plant-card img {
  width: 100%;
  display: block;
}
.pcard-h {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}
.pcard-sh {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}
.pcard-btn {
  width: 100%;
  color: white;
  background-color: #e95a08;
  font-size: 0.8rem;
  font-weight: 530;
  margin-top: 15px;
  border: none;
  height: 35px;
}

/* lover sec */
.lovers-section {
  display: flex;
  max-width: 925px;
  margin: 60px auto;
  margin-top: 135px;
  gap: 50px;
  position: relative;
}
.lover-h {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 25px 1px;
  margin-top: 50px;
}
.lover-li {
  font-size: 1.3rem;
  margin: 15px 1px;
}
ul {
  padding-left: 14px;
}
.badge-img {
  width: 180px;
  height: 180px;
  margin-bottom: 0px;
}
#badge {
  position: absolute;
  transform: translateX(-159px) translateY(-64px);
  animation: spin 4s linear infinite;
}

/* deals  */
.deals-h {
  font-size: 3rem;
  font-weight: bold;
  margin: 25px;
}
.deals-p {
  font-size: 1.1rem;
  margin-bottom: 40px;
  margin-top: 17px;
}
.deals-sp {
  color: #e95a08;
}
.deals-cards {
  display: flex;
  max-width: 950px;
  margin: 10px auto;
  gap: 10px;
}
.deal-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("assets/deal-bloom.png");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 177px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 10px;
  gap: 5px;
  margin-bottom: 15px;
}
.deals-cards > div:first-child {
  flex: 1;
}
.deals-cards > div:last-child {
  flex: 2;
}
.deal-card a,
.deal-card-u a {
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}
.deal-card-u {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("assets/deal-ana.png");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 177px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 10px;
  gap: 5px;
  margin-bottom: 15px;
}
.deal-card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("assets/deal-zabo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 10px;
  gap: 5px;
}
.deal-card2 a {
  color: white;
}
/* join section */
.join {
  width: 100%;
  height: 533px;
  background-image: url(assets/news-letter-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  gap: 15px;
  margin: 50px 0;
}
.join-t {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.join-input {
  width: 500px;
  height: 35px;
}
.join-btn {
  height: 35px;
  width: 120px;
  background-color: #e95a08;
  color: white;
  border: none;
}
.join-controls {
  display: flex;
}
/* footer sec */
.footer {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  max-width: 950px;
  margin: 20px auto;
}
.linksa,
.linksb {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.linksa a,
.linksb a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}
.icons {
  display: flex;
  gap: 19px;
}
.fimg {
  width: 25px;
  height: 25px;
}
.twitter {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
.fp {
  margin-top: 10px;
  font-size: 1rem;
}
/* Responsive part */
@media screen and (max-width: 576px) {
  .nav-links a {
    display: none;
  }
  .nav-links a.cart {
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
  }
  .nav-links {
    gap: 0;
  }
  .nav-logo {
    margin-left: 10px;
  }
  /* header banner */
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .ban-left {
    width: 100%;
    padding: 0 5px;
    margin: 0;
  }

  .banner-t {
    font-size: 2.2rem;
  }
  .banner-p {
    font-size: 1rem;
  }
  .banner-img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
  /* plant section */
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 14px;
  }
  .plant-heading {
    margin-top: 40px;
  }
  .plant-descri {
    padding: 18px;
  }
  /* lover section */
  .lovers-section {
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;
    gap: 15px;
    padding: 15px;
  }
  .lover-h {
    margin-top: 0px;
  }
  .lover-image img {
    width: 100%;
  }
  #badge {
    display: none;
  }
  /* deals sec */
  .deals-cards {
    flex-direction: column;
    padding: 15px;
  }
  .deals-h {
    margin-top: 55px;
    margin-bottom: 5px;
  }
  .deals-p {
    margin-bottom: 28px;
    margin-top: 6px;
    padding: 27px;
    padding-top: 10px;
  }
  .deal-card2 {
    width: 100%;
    height: 210px;
    background-size: cover;
  }
  /* join section */
  .join {
    width: 100%;
    height: 270px;
    background-size: cover;
    padding: 11px;
  }
  .join-t {
    font-size: 1.5rem;
  }
  .join-input {
    width: 241px;
    height: 26px;
  }
  .join-btn {
    height: 26px;
    width: 63px;
  }
  /* footer */
  .footer {
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
  .linksb,
  .icons {
    margin-top: 20px;
  }
  .linksa {
    margin-top: 26px;
  }
  .fp {
    max-width: 300px;
  }
  .br-control {
    display: none;
  }
}
