/* shared bstyle */
dark-1 {
  color: #1e1e1e;
}
dark-2 {
  color: #8987a1;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 10px auto;
}
.nav-links {
  display: flex;
  gap: 27px;
  margin-top: 35px;
}
.nav-links a {
  text-decoration: none;
}
.home {
  font-size: 1.15rem;
  color: #1e1e1e;
}
.shop,
.about-us {
  color: #8987a1;
  font-size: 1.15rem;
}
.cart {
  color: #000000;
}

/* Responsive part */
@media screen and (max-width: 576px) {
  .nav-links a {
    display: none;
  }
  .nav-links a.cart {
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
  }
  .nav-logo {
    margin-left: 10px;
  }
  /* header */
}
